body{
    font-family: 'Mukta Vaani', sans-serif;
    height: 700vh;
    width: fit-content;
    background-color: #100e20;
    color: #FFFDD0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header img{
    width: 10rem;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 6rem;
    
}
.header p{
    font-size: 2rem;
    margin-right: 6rem;
    cursor: pointer;

}
.header p:nth-child(2){
    margin-left: 24rem;
    
}
.home{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;


}
p a:hover {
    color: #fff; /* Change text color when hovered */
    transition: color 0.3s ease; /* Add a smooth transition effect */
}

.home h1:first-child{
    font-size: 15rem;
    margin-top: -30rem;
    margin-bottom: 0;
}
.home p:nth-child(2){
    font-size: 2rem;
    margin-top: -6rem;

}
.home .icon a i,
    .header p a {
        color:#FFFDD0; /* Change to your desired color */
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    /* Hover effect for both the icons and navigation links */
    .icon a:hover i,
.header p a:hover {
        color:cornflowerblue; /* Change to your desired hover color */
    }
.home .icon{
    display: flex;
    flex-direction: row;   
}
.home .icon i{
    font-size: 4rem;
    margin-right: 5rem;
}

#bounceText {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
#audio{
    display: none;
}
.wave{
    width: 20px;
    height: 5px;
    background:linear-gradient(50deg, purple, white);
    margin: 10px;
    animation: wave 1s infinite linear;
    transform: rotate(180deg);
}
.wave:nth-child(2){
    animation-delay: 0.1s;
}
.wave:nth-child(3){
    animation-delay: 0.2s;
}
.wave:nth-child(4){
    animation-delay: 0.3s;
}
.wave:nth-child(5){
    animation-delay: 0.4s;
}
.wave:nth-child(6){
    animation-delay: 0.5s;
}
.wave:nth-child(7){
    animation-delay: 0.6s;
}
.wave:nth-child(8){
    animation-delay: 0.7s;
}
.wave:nth-child(9){
    animation-delay: 0.8s;
}
.wave:nth-child(10){
    animation-delay: 0.9s;
}
@keyframes wave {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
    
}

.about img{
    width: 50rem;
    height: 50rem;
    transition: transform 0.3s ease-in-out;
}
.about h1{
    font-size: 3rem;
    margin-top: -45rem;
    margin-left: 50rem;
}
.about p{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    width: 60rem;
    text-align: justify;    
    margin-left: 48rem;
}
.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 20px;
    right: -800px;
}

.resume-button:hover {
    background-color: #2980b9;
}
.skills{
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 60rem;
}
.photograph{
    font-size: 3rem !important;
    margin-left: -40rem;
}
.photograph .swiper-container{
    margin-top: -20rem;
}
.swiper-container {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin-top: -10rem;
    margin-left: 2rem; /* Adjust the margin as needed */
    position: relative;
}

.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-right: 30px;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.swiper-slide:last-child {
    padding-right: 0; /* Remove padding from the last slide to avoid extra space */
}


  .vid {
    margin-left:-40rem ;
    margin-right:-30rem;
}

.container {
    display: flex;
    padding: 10px;
    width: 100%;
    
}

.slide video {
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 50rem;
}


.vid:hover {
    transform: scale(1.05);
}
/* Reset some default styles */
body, figure, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling to the container */
.swiper-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
}

/* Style each slide */
.swiper-slide {
    position: relative;
    margin-top: 25rem;
    margin-right: 15px; /* Adjust the margin as needed */
}

/* Ensure the last slide doesn't have excessive margin */
.swiper-slide:last-child {
    margin-right: 0;
}
/* Style the slide content */
.slide-content {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #fff; /* White text */
    padding: 10px; /* Add some padding */
    width: 88%;
    border-radius: 10px;
    height: 4; /* Make it full width */
}

/* Style the heading within the slide content */
.slide-content h3 {
    margin: 0;
}

/* Style the paragraph within the slide content */
.slide-content p {
    margin: 5px 0;
    font-size: -20rem;
    display: inline;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}   
.contacts {
    max-width: 800px;
    margin: -38rem 170px 40px auto;
    padding: 20px;
    background-color: rgba(52, 64, 117, 0.411); /* Adjust the alpha value as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* Style the form input fields */
.contacts input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #675e72;
    border-radius: 5px;
}
.contacts textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #675e72;
   
}
.contacts button {
    background-color:  #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contacts button:hover {
    background-color: #45a049;
}
.contact_header {
    display: inline-block;
    margin-top: 60rem;
    margin-left: -40rem;
}

.contact_header h1 {
    font-size: 48px;
    color: #FFFDD0; 
    margin-bottom: 10px;
}

.contact_header p {
    font-size: 16px;
    color:#fffdd0ab; 
    line-height: 1.5;
}
.contact_header p:last-child{
    margin-top: -20rem;
}
.map-container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer {
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
    padding: 10px;
}



  